<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Game Database{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        main.container {
            flex: 1 0 auto;
        }
        footer {
            flex-shrink: 0;
        }
    </style>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">GameDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games/">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/players/">Players</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- HEADER -->
<!-- <header class="bg-light py-1 text-center border-bottom mb-4">
    <div class="container">
        <h1 class="display-6">Welcome to Game Database</h1>
        <p class="lead">Browse games, genres and platforms!</p>
    </div>
</header> -->

<!-- MAIN CONTENT -->
<main class="container mb-5">
    {% block content %}
    <!-- Obsah stránky -->
    {% endblock %}
</main>

<!-- FOOTER -->
<footer class="bg-dark text-white py-3 ">
    <div class="container text-center">
        &copy; {{ now|date:"Y" }} GameDB | Created by Krysa77
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
